* {
    background-color: rgb(26, 26, 26);
    color: white;
}

#prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    width: 90vw;
    height: 85vh;
    background-color: rgb(33, 32, 34);
    border: 1px solid white;
    z-index: 999;
}

#question,
#promptInput,
#promptButton {
    background-color: rgba(81, 64, 100, 0);
}

#question {
    font-size: 40px;
}
#promptInput {
    font-size: 20px;
    height: 50px;
    width: 170px;
    border: 1px solid white;
}
#promptButton {
    height: 50px;
    width: 100px;
    border: 1px solid white;
    border-radius: 5px;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}


#studyGifContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    height: 83vh;
    background-color: rgb(26, 26, 26);
    border: 1px solid white;
    border-radius: 25px;
}

#taskTime {
    align-self: flex-start;
    margin-top: 3vw;
    margin-left: 3vw;
}

#task,
#time {
    font-size: 20px;
    background-color: rgb(26, 26, 26);
}

#studyGif {
    width: 30vw;
    height: 30vw;
    min-width: 250px;
    min-height: 250px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
}